{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
    Add item
{% endblock head_title%}
{% block content %}
<h2>{{title}}</h2>
<div class="col-sm-8 col-sm-offset-2">
    <a href="{% url 'lists:user_lists' %}" class="top-menu">Back to list</a><br>

    <p class="font-italic">{% if notice %}{{ notice }}{% endif %}</p>
    <form method='POST' action="" >
        {% csrf_token %}
        {{ form|crispy }}

        <input type='submit' class="btn btn-secondary" value = 'Submit'/>

    </form>

</div>
{% endblock content%}

