{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title %}
    Add item
{% endblock head_title%}
{% block content %}
<h2>{{title}}</h2>
<div class="col-sm-8 col-sm-offset-2">
    <a href="{% url 'billing:customer' %}" class="top-menu">Back to list</a><br>

    <p class="font-italic">{% if notice %}{{ notice }}{% endif %}</p>
    <form method='POST' action="" >
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-8 mb-0">
                {{ form.name|as_crispy_field }}
            </div>
        </div><div class="form-row">
            <div class="form-group col-md-3 mb-0">
                {{ form.business|as_crispy_field }}
            </div><div class="form-group col-md-5 mb-0">
                {{ form.contact|as_crispy_field }}
            </div><div class="form-group col-md-5 mb-0">
                {{ form.email|as_crispy_field }}
            </div><div class="form-group col-md-5 mb-0">
                {{ form.reference|as_crispy_field }}
            </div><div class="form-group col-md-5 mb-0">
                {{ form.active|as_crispy_field }}
            </div>
        </div>

        <input type='submit' class="btn btn-secondary" value = 'Add to list'/>
    </form>

</div>
{% endblock content%}
